@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1f2937;
  color: #eaeaea;
}

section {
  padding: 30px;
}

h1 {
  margin-bottom: 5px;
  font-size: 120%;
  font-weight: bold;
}

.App {
  padding-top: 20px;
}

.profile .profile-picture {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.profile .profile-picture img {
  border-radius: 50%;
  border: solid 4px #eaeaea;
  height: auto;
  width: 128px;
}
.profile .profile-fullname {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .profile-fullname .profile-fullname-check_mark {
  margin-left: 3px;
  color: #4fb6ec;
}
.profile .profile-bio {
  margin-bottom: 30px;
}
.profile .social_media {
  margin: auto;
}
.profile .social_media .button {
  margin-bottom: 20px;
  padding: 15px 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  border: solid 2px black;
  background-color: #e07a5f;
  box-shadow: black 7px 7px 0;
}
