@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2937;
  color: #eaeaea;
}

section {
  padding: 30px;
}

h1 {
  margin-bottom: 5px;
  font-size: 120%;
  font-weight: bold;
}

.App {
  padding-top: 20px;
}

.profile .profile-picture {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
.profile .profile-picture img {
  border-radius: 50%;
  border: solid 4px #eaeaea;
  height: auto;
  width: 128px;
}
.profile .profile-fullname {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .profile-fullname .profile-fullname-check_mark {
  margin-left: 3px;
  color: #4fb6ec;
}
.profile .profile-bio {
  margin-bottom: 30px;
}
.profile .social_media {
  margin: auto;
}
.profile .social_media .button {
  margin-bottom: 20px;
  padding: 15px 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  border: solid 2px black;
  background-color: #e07a5f;
  box-shadow: black 7px 7px 0;
}

.profile .social_media .button:hover {
  transform: translateY(-5px);
  transition: 1s ease;
  box-shadow: #bdbcbc 7px 7px 0;
  border: solid 2px #bdbcbc;
}
